@model ML.Producto
@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-auto">
            <h2>Producto</h2>
        </div>

    </div>
    <div class="row">
        <div class="col-auto">
            <p>Utilice el boton verde para agregar una nueva Producto</p>
            <p>Utilice el boton amarillo para actualizar la información de  una Producto</p>
            <p>Utilice el boton rojo para eliminar una Producto</p>
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-auto">


            @Html.ActionLink(" Agregar", "Form", "Producto", new { area = "" }, new { @class = "btn btn-success bi bi-plus-square" })

        </div>
    </div>
    <br />



    @if (Model.Productos.Count > 0 && Model.Productos != null)
    {
        <table class="table table-dark table-hover table-striped " id="myTable">
            <thead>
                <tr class="table-secondary">
                    <th>Editar</th>
                    <th class="visually-hidden">IdProducto</th>
                    <th>Nombre</th>
                   

                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (ML.Producto Producto in Model.Productos)
                {
                    <tr>
                        <td class="text-center"><a class="btn btn-warning bi bi-pencil-fill " href="@Url.Action("Form", "Producto", new {IdProducto = Producto.IdProducto})"><i class="fa-solid fa-pencil"></i></a></td>

                        <td class="visually-hidden">@Producto.IdProducto</td>
                        <td>@Producto.Nombre</td>
                      

                        @*<td class="text-center"> <a class="btn btn-danger bi bi-recycle" href="@Url.Action("Delete", "Producto" ,new {IdProducto = Producto.IdProducto})"><i class="fa-solid fa-trash-can" style="color:white;"></i></a>*@
                        <td><a class="btn btn-danger bi bi-recycle" href="@Url.Action("Delete", "Producto", new { IdProducto= Producto.IdProducto})" onclick="return confirm('Estas seguro que deseas eliminar este registro?');"></a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            <h3>@ViewBag.Message</h3>
        </div>
    }




</div>



